body {
  font-size: 12px;
}

span.points {
  padding-left: 10px;
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.score-container p {
  margin: 0;
}

.score-container span.bordered {
  border: 1px solid gray;
}

.score-container span.mini-points {
  margin: 2px 3px;
  padding: 1px;
  display: inline-block;
  font-size: 9px;
}

.score-container span.yellow {
  background: yellow;
}

.score-container span.bold-yellow {
  background: yellow;
  font-weight: bold;
}

.score-container span.red {
  background: red;
}

.score-container span.green {
  background: green;
  color: white;
}

.score-container span.bold-green {
  background: green;
  font-weight: bold;
  color: white;
}

.score-container .team-name {
  font-weight: bold;
}

.score-container .score-cell {
  padding-bottom: 5px;
}

.score-container .score-cell .rider {
  font-size: 12px;
}

.score-container .score-cell .scores {
  font-size: 11px;
}

.team-container {
  padding: 10px;
}

.team-container .team-total {
  font-weight: bold;
  align-items: flex-end;
}

.stage-name {
  font-weight: bold;
  font-size: 14px;
}

p.total-score {
  font-size: 18px;
  font-weight: bold;
}